<!DOCTYPE html>
<html>
  <head>
    <title>Input</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <link rel='stylesheet' href='/stylesheets/ionic.min.css' />
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
  </head>

  <body style="padding-top:25vh;">
    <h2 style="text-align:center">欢迎来到互动平台</h2>
    <button class="button button-positive" style="width:50%;display:inline-block" onclick="location='./barrage'">弹幕墙</button>
    <button class="button button-balanced" style="width:50%;display:inline-block" onclick="location='./photowall'">照片墙</button>
    <button class="button button-calm button-block" onclick="location='./vote'">投票</button>
  </body>
</html>
