<!DOCTYPE html>
<html>
  <head>
    <title>抽奖</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/jquery.mixitup.min.js"></script>
    <script src="javascripts/index2.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
  </head>

  <body>
    <div class="container">
        <div class="row">
            <h1 class="h2 text-center text-primary">中个大奖吧
                <button class="btn btn-danger" id="stop">STOP</button>
            </h1>
        </div>


        <% weixins.forEach(function (weixin, index) { %>
        <div id="mixitup" class="row" style="display: inline-block;">   <!--此处展示所有参与者的头像-->
            <div class="mix" >
                <a data-toggle="tooltip" data-placement="bottom" rel="tooltip" target="_blank" href="http://segmentfault.com/u/star_0_rats" title="star_0_rats">
                    <img class="avatar-64" src="<%= weixin.imgurl %>" alt="<%= weixin.name %>">
                </a>
            </div>
        </div>
        <% }) %>

        <button data-sort="random" id="trig" class="hide btn btn-success sort" style="display:none">Let's Rock !</button>
    </div>
  </body>

</html>
