<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <title>抽奖</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/jquery.mixitup.min.js"></script>
    <script src="javascripts/index2.js"></script>
</head>

<body>
    <div class="container">

        <div class="row">
            <h1 class="h2 text-center text-primary">中个大奖吧
                <button class="btn btn-danger" id="stop">STOP</button>
            </h1>
        </div>


        <div id="mixitup" class="row">
            <% weixins.forEach(function (weixin) { %>
                <div class="mix">
                    <a data-toggle="tooltip" data-placement="bottom" rel="tooltip" target="_blank"  title="<%= weixin.name %>">
                        <img class="avatar-64" src="<%= weixin.imgurl %>" alt="XXX">
                    </a>
                </div>
            <% }) %>
        </div>




        <button data-sort="random" id="trig" class="hide btn btn-success sort">Let's Rock !</button>
    </div>
</body>

</html>

